@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@600&display=swap');

body {
    font-family: 'Gothic A1', sans-serif;
    background-color: #121212;
    margin: 0;
}

.background {
    height: 100vh;
}

.card-container {
    border-radius: 20px;
    width: 240px;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
}

.script-container {
    border-radius: 20px;
    width: 90%;
    height: 60%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    overflow: hidden;
}

.scrollable-text {
    font-family: 'Gothic A1', sans-serif;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-size: 18px;
    background-color: #1e1e1e;
    overflow: hidden;
}

.scrollable-content {
    height: calc(100%);
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #337ea9 #1e1e1e;
}

.scrollable-content::-webkit-scrollbar {
    width: 12px;
}

.scrollable-content::-webkit-scrollbar-track {
    background-color: #1e1e1e;
    border-radius: 20px;
}

.scrollable-content::-webkit-scrollbar-thumb {
    background-color: #337ea9;
    border-radius: 10px;
}

.card-item {
    margin: 15px;
}

.logo-container {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    cursor: pointer;
}

.logo-img {
    border-radius: 100px;
    width: 100px;
}

.btn {
    font-family: 'Gothic A1', sans-serif;
    font-size: 15px;
    border-radius: 10px;
    background-color: #337ea9;
    padding: 10px;
    color: white;
}

.stop-btn {
    font-family: 'Gothic A1', sans-serif;
    font-size: 15px;
    border-radius: 10px;
    background-color: #ee6b62;
    padding: 10px;
    color: white;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.05);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.animated-logo {
    animation: scaleUp 1s infinite;
}

.subtitles {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: 121212;
    font-size: 18px;
}

/* popup-box */
.popup-box {
    position: absolute;
    background-color: #337ea9;
    color: white;
    z-index: 1000;
    padding: 3px;
    border-radius: 5px;
    font-size: 18px;
}